In [2]:
#import dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
#read initial csv into a dataframe
csv_file = 'Main Avocado Tree (Resources)/avocado-updated-2020.csv'
avocado_df = pd.read_csv(csv_file)
avocado_df.head()

,date,average_price,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,geography
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,2015,Albany
2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,2015,Atlanta
3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,2015,Atlanta
4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,2015,Baltimore/Washington

In [20]:
avocado_df.dtypes
grouped_by_date = avocado_df.groupby("date")
print(grouped_by_date.head(20))

             date  average_price  total_volume       4046       4225  \
0      2015-01-04           1.22      40873.28    2819.50   28287.42
1      2015-01-04           1.79       1373.95      57.42     153.88
2      2015-01-04           1.00     435021.49  364302.39   23821.16
3      2015-01-04           1.76       3846.69    1500.15     938.35
4      2015-01-04           1.08     788025.06   53987.31  552906.04
...           ...            ...           ...        ...        ...
32952  2020-11-29           1.49      14933.96     112.80    2805.64
32953  2020-11-29           0.89    1013742.41  127913.29  171922.10
32954  2020-11-29           1.66      52194.70     534.19    3267.59
32955  2020-11-29           0.95     221809.12   47895.37   18927.71
32956  2020-11-29           1.62      17675.69     447.04    1992.20

           4770  total_bags  small_bags  large_bags  xlarge_bags  \
0         49.90     9716.46     9186.93      529.53         0.00
1          0.00     1162.65     1162.65        0.00         0.00
2         82.15    46815.79    16707.15    30108.64         0.00
3          0.00     1408.19     1071.35      336.84         0.00
4      39995.03   141136.68   137146.07     3990.61         0.00
...         ...         ...         ...         ...          ...
32952     28.16    11987.36    10984.74     1002.62         0.00
32953  27800.99   686106.03   363112.65   266943.18     56050.20
32954      0.00    48373.73    24868.76    23504.97         0.00
32955  10823.74   144162.30   124616.22     8089.90     11456.18
32956      0.00    15236.45     3624.72    11611.73         0.00

               type  year             geography
0      conventional  2015                Albany
1           organic  2015                Albany
2      conventional  2015               Atlanta
3           organic  2015               Atlanta
4      conventional  2015  Baltimore/Washington
...             ...   ...                   ...
32952       organic  2020             Charlotte
32953  conventional  2020               Chicago
32954       organic  2020               Chicago
32955  conventional  2020     Cincinnati/Dayton
32956       organic  2020     Cincinnati/Dayton

[6120 rows x 13 columns]